
# Created by https://www.gitignore.io/api/cuda,visualstudiocode

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/cuda,visualstudiocode

# Binaries and object files
*.o
exec

# Tests
edge.txt
parameters.txt
